# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
pyvenv.cfg

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Runtime data
# =========================
data/tickets.json
data/state.json
logs/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/